*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.banner-header{
    width: 100%;
    min-width: 1000px;
}

.areas-div{
    background-color: #20286D;
    text-align: right;
    height: 40px;
}

.areas-txt{
    font-size: 20px;
    color: white;
    border: black solid;
    margin-top: 10px;
    text-align: right;
}