*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}

.small-icon{
    width: 60px;
    height: 80px;
}

.center{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.w50{
    width: 50%;
}

.clear{
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}

.w33{
    width: 33.3%;
}

.w70{
    width: 70%;
}