*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}

.small-icon{
    width: 60px;
    height: 80px;
}

.center{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.w50{
    width: 50%;
}

.clear{
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}

.w33{
    width: 33.3%;
}

.w70{
    width: 70%;
}

header{
    background-color: rgb(84, 162, 207);
    padding: 20px 0;
}

.mobile{
    display: none;
}

nav.desktop ul{
    list-style-type: none;
}

nav.desktop li{
    display: inline-block;
    text-transform: uppercase;
    padding: 0 30px;
    font-weight: 400;
}

nav.desktop a{
    text-decoration: none;
    color: white;
    position: relative;
    top: 50px;
}

nav.desktop a:hover{
    text-decoration: underline;
    color: white;
}

section.banner-principal{
    background-image: url("../estilo/images/mine-banner.jpg");
    width: 100%;
    height: 600px;
    background-size: cover;
    position: relative;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.452);
}