*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}

.small-icon{
    width: 60px;
    height: 80px;
}

.center{
    max-width: 1400px;
    padding: 0;
    margin: 0 auto;
}

.w50{
    width: 50%;
    padding: 0 2%;
}

.clear{
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}

.w33{
    width: 33.3%;
}

.w70{
    width: 70%;
}

header{
    background-color: rgb(84, 162, 207);
    padding: 20px 0;
    height: 60px;
}

.mobile{
    display: none;
}

nav.desktop ul{
    list-style-type: none;
}

nav.desktop li{
    display: inline-block;
    text-transform: uppercase;
    padding: 0 30px;
    font-weight: 400;
}

nav.desktop a{
    text-decoration: none;
    color: white;
    position: relative;
    top: 0px;
}

nav.desktop a:hover{
    text-decoration: underline;
    color: white;
}

section.banner-principal{
    background-image: url("../estilo/images/mine-banner.jpg");
    width: 100%;
    height: 600px;
    background-size: cover;
    position: relative;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background:rgba(0, 0, 0, 0.452);
}

section.banner-principal form{
    width: 98%;
    max-width: 500px;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

section.banner-principal form h2{
    color: white;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

section.banner-principal form input[type=email]{
    width: 100%;
    height: 66px;
    background: white;
    color: #333;
    font-size: 32px;
    padding-left: 10px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

section.banner-principal form input[type=submit]{
    width: 100%;
    height: 66px;
    background: #a9eeff;
    color: #333;
    font-size: 40px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
}

.logo.left{
    color: white;
    font-weight: 300;
    font-size: 30px;
    position: relative;
    top: -13px;
}

.linkhome{
    text-decoration: none;
    color: white;
}

.linkhome:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}



@keyframes hoverlinkshine{

    from{

    }
    to{
      color:#67e8ff;
    }
}
 
.shine:hover{

    animation-name: hoverlinkshine;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-duration: 1s;
  
  }

section.descricao-autor{
    padding: 30px 0;
}

section.descricao-autor h2{
    font-size: 25px;
    font-weight: 400;
    color: #444;
}

section.descricao-autor p{
    font-size: 16px;
    color: #444;
    margin-top: 10px;
}

.foto{
    width: 320px;
    height: 320px;
}

@media screen and (max-widht: 760px){
    img{
        float: none !important;
        display: block;
        margin: 0 auto;
        max-width: 500px;
        position:absolute;
        left: 50%;
    }.w50{
        padding: 20px;
        width: 100%;
    }
}

.general-list{
    list-style-type: none;
}

footer{
    background-color: #54A2CF;
}

.direitos{
    height: 40px;
    display: table-cell;
    vertical-align: middle;
}

.direitos-txt{
    margin-left: 10px;
}
